.game
  padding: $base-line-height $col-edge-padding

  .tray

  .dice
    reset-list()
    clearfix()
    min-height: 220px
    padding: 10px 0 0 10px
    background: $gray-lighter

  .die
    float-left()
    background: $gray
    height: 100px
    width: @height
    margin: 0 10px 10px 0
    line-height: @height
    text-align: center
    color: $green
    font-size: 60px
    cursor: pointer
    border-radius: 9px