.game
  padding: $base-line-height $col-edge-padding

  .dice
    reset-list()
    clearfix()

  .die
    float-left()
    background: $gray
    height: 100px
    width: @height
    margin: 0 10px 10px 0
    line-height: @height
    text-align: center
    color: $white
    font-size: 36px