.game
  padding: ($base-line-height/2) $col-edge-padding
  max-width: 570px
  margin: 0 auto

  .game-title
    width: 50px
    float: left

  .game-actions
    text-align: right

  .game-action-btn
    display: inline-block
    width: 100px
    margin-left: 5px

    &:first-child
      margin-left: 0

  .dice-title
    margin: 10px 0 4px 0

  .dice
    reset-list()
    clearfix()
    padding: 10px 0 0 10px
    background: $gray-lighter

  .die
    float-left()
    background: $gray
    height: 83px
    width: @height
    margin: 0 10px 10px 0
    line-height: @height
    text-align: center
    color: $green
    font-size: 46px
    cursor: pointer
    border-radius: 9px

    &.is-onhold
      border: 6px solid $green
      height: 71px
      width: @height
