.home
  text-align: center
  padding: $base-line-height $col-edge-padding

  .home-title
    width: 320px
    max-width: 100%

  .home-subtitle
    font-size: 36px
    line-height: 1em
    letter-spacing: 1px

  .main-nav-list
    reset-list()
    clearfix()
    margin-top: $base-line-height * 2