.player-avatar
  background-size: cover
  background-image: image-path('avatar.jpg')
  background-repeat: no-repeat
  background-position: center
  border-radius: 50%

.avatar-1
  .player-avatar
    background-image: image-path('theking.jpg')

.avatar-2
  .player-avatar
    background-image: image-path('cyberbunny.jpg')

.avatar-3
  .player-avatar
    background-image: image-path('gigasaur.jpg')

.avatar-4
  .player-avatar
    background-image: image-path('mekkadragon.jpg')

