.game.players-2 .banner .players-item
.game.players-3 .banner .players-item
.game.players-4 .banner .players-item
  position: relative
  width: 100%
  overflow: ellipse
  color: $white
  text-shadow: 1px 1px 0 $gray

  .player-avatar
    border-radius: 0
    height: 150px
    width: 100%

  .banner-headline
    position: absolute
    top: 40px
    left: 0
    width: 100%
    z-index: 2
    text-align: center
    font-size: 30px
    font-weight: bold
    whitespace: no-wrap

  .player-name
    text-transform: uppercase
    font-size: 40px
    letter-spacing: 3px
    margin-bottom: ($base-line-height/2)

