.dice
  reset-list()
  clearfix()
  padding: 10px 0 0 10px
  background: $gray-lighter

.die
  float-left()
  position: relative
  background: $gray
  text-align: center
  color: $green
  cursor: pointer
  height: 42px
  width: @height
  margin: 0 5px 5px 0
  line-height: @height
  font-size: 22px
  border-radius: 5px

  &.is-onhold
    border: 3px solid $green
    height: 36px
    width: @height
    line-height: @height

    &:after
      content: 'Hold'
      position: absolute
      left: 0
      display: block
      width: 100%
      text-align: center
      color: $green
      text-transfrom: uppercase
      line-height: 1em
      font-size: 8px
      bottom: 2px

@media $bp-min-phone-landscape

  .die
    height: 60px
    width: @height
    margin: 0 10px 10px 0
    line-height: @height
    font-size: 30px
    border-radius: 9px

    &.is-onhold
      border: 4px solid $green
      height: 52px
      width: @height
      line-height: @height

      &:after
        font-size: 8px
        bottom: 4px

@media $bp-min-med

  .die
    height: 83px
    width: @height
    margin: 0 10px 10px 0
    line-height: @height
    font-size: 46px
    border-radius: 9px

    &.is-onhold
      border: 6px solid $green
      height: 71px
      width: @height
      line-height: @height

      &:after
        font-size: 12px
        bottom: 5px