.players-list
  clearfix()

  .players-item
    box-sizing: border-box
    float: left
    width: 50%
    padding: 10px

    &.is-in-tokyo
      background: image-path('tokyobg.jpg')
      border-radius: 5px
      color: $white
      text-shadow: 1px 1px 0 $black

      .icon
        color: $white

  .player-header
    position: relative

  .player-avatar
    position: absolute
    left: 0
    top: 0
    height: 30px
    width: @height
    background-size: cover
    background-image: image-path('avatar.jpg')
    background-repeat: no-repeat
    background-position: center
    border-radius: 50%

  .player-name
    padding-left: 40px
    font-size: 24px
    line-height: 30px

  .player-stats-item
    box-sizing: border-box
    width: 33%
    padding-right: 5px
    display: inline-block

  .icon
    display: inline-block

    &.icon-die-H
      color: #b82b34
    &.icon-die-E
      color: #398247
    &.icon-star
      color: #5f648a

  .player-status
    height: $base-line-height
    line-height: $base-line-height
    text-align: center
    font-size: 10px
