.btn
  padding: ($base-line-height / 2) 16px
  background: $brand-primary
  border-radius: 3px
  color: $white
  text-transform: uppercase
  text-align: center
  line-height: 1em
  cursor: pointer
  user-select: none

  &:hover
    background: lighten(@background, 10%)

  &:active
    background: darken(@background, 30%)
