.btn
  padding: ($base-line-height / 2) 16px
  background: $brand-primary
  border-radius: 3px
  color: $white
  text-transform: uppercase
  text-align: center
  line-height: 1em
  cursor: pointer
  user-select: none
  text-decoration: none
  border: none

  &:hover
    background: lighten(@background, 10%)

  &:active
    background: darken(@background, 30%)


  &.alt-btn
    background: $brand-secondary

    &:hover
      background: lighten(@background, 10%)

    &:active
      background: darken(@background, 30%)

  &.btn-mini
    padding: 5px 10px
    font-size: 10px