.game

  .start-game
  .start-turn
  .roll-dice
  .buy-cards
  .end-turn
    display: none

  &.start-game
    .start-game
      display: block

  &.start-turn
    .start-turn
      display: block

  &.roll-dice
    .roll-dice
      display: block

  &.buy-cards
    .buy-cards
      display: block

  &.end-turn
    .end-turn
      display: block
