@import 'nib'
global-reset()
reset-html5()

@import '_variables'
@import '_mixins'

@import '_layout'
@import '_buttons'
@import '_icons'
@import '_phases'
@import '_debug'

@import 'pages/_home'
@import 'pages/game/_game'
@import 'pages/game/_header'
@import 'pages/game/_players'
@import 'pages/game/_dice'
