@import 'nib'
global-reset()
reset-html5()

@import '_variables'
@import '_mixins'

@import '_layout'
@import '_buttons'
@import '_icons'

@import 'pages/_home'
@import 'pages/_game'
@import 'pages/_phases'
