doctype 5
html
  head
    title King of Tokyo Roller

    include ../partials/mobile-meta

    link(rel='stylesheet', href='/static/style.css')
    script(type='text/javascript', src='/static/app.js')

  body

    block content

